# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/

# Environment
.env.local
.env.*.local

# macOS
.DS_Store

# Temporary files
*.log
*.tmp
*.temp
